body {
  font-family: 'Helvetica';
  background-color: #171435}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a{
  text-decoration:none;
}
.row {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}


.block{
  background-color: #fff;
  padding: 1rem;
  margin:0.5rem ;
  border-radius:0.5rem;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.row.center{
  align-items:center;
}
img.small{
  height: 8;
  width:100%;
  border-radius: 1.5rem;
  width:  12rem;
}
button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
}
button.add{
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove{
  background-color: #f04040;
  width: 1.5rem;
}
button.badge{
  background-color: #f04040;
  border:none;
  color:#ffffff;
  width: 1.5rem;
}
button.checkout{
  background-color: #40c0f0;
  width: 100%;
  justify-content: flex-end;
}
text-right{
  text-align:right;
}
.about-text{
  font-size:0.8rem;
  margin:0.5rem;
}
.main-header{
  background-color:#d2d2d2;
  padding:0.5rem;
  margin:0.5rem;
  border-radius:0.5rem;
}
.header-cart{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin-right: 10rem;
}
.add-button{
  margin-top: 1rem;
}
.Card{
  margin-left:0.3rem;
}

.main-tab{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-top:1rem;
  width: 100%;
}
.main-content{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  margin-top:1rem;
  width: 70%;
}
.app-container{
  display:flex;
}
.product-card{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:1rem;
  width: 20rem;
  margin:auto
}
