@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f1f1f1;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

div {
  font-family: "Ubuntu", sans-serif;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.basket-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  width: 100%;
}

.block {
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.basket-body {
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  flex: 1;
  margin-top: 5rem;
  display: block;
  position: static;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

button.add {
  background-color: #5d3ebc;
  width: 1.5rem;
  color: #fff;
  font-weight: bold;
}

button.add:hover {
  background-color: #09b412;
}

button.remove {
  background-color: #5d3ebc;
  width: 1.5rem;
  color: #fff;
  font-weight: bold;
}

button.remove:hover {
  background-color: #af3a2b;
}

button.qty {
  color: #000000;
}

.app-container {
  display: flex;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: auto;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 95%;
}

.price-text {
  margin-left: 3rem;
}

button.modal:hover {
  background-color: #5d3ebc;
  width: 1.5rem;
  font-weight: bold;
}